.ng-scroll-content {
  padding: 0 !important;
}
/* ngx-scrollbar customization */
ng-scrollbar {
  --scrollbar-size: 5px;
  --scrollbar-track-thickness: 5px;
  --scrollbar-track-hover-thickness: 6px;
  --scrollbar-thumb-color: #c9c8c8;
  --scrollbar-thumb-hover-color: #959595;
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-border-radius: 10px;
}

.dark {
  ng-scrollbar {
    --scrollbar-thumb-color: #4e4e4e;
    --scrollbar-thumb-hover-color: #7d7d7d;
    --scrollbar-track-color: #2b2b2b;
  }
}
