.NgxEditorStyles {
  overflow: auto;
  display: block;
  .NgxEditor__Content {
    height: 400px;
  }
}
.emailEditorStyle {
  overflow: auto;
  display: block;
  .NgxEditor__Content {
    height: 350px;
  }
}
